@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700');

.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.App-logo {
  height: 90px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Form-input {
  padding: 10px;
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
}

.Form-button {
  width: 90%;
  padding: 10px;
  background-color: crimson;
  border: none;
  color: white;
  font-family: 'Source Code Pro', monospace;
}
